* {
	padding: 0px 0px 0px 0px !Important;
	font-size: 4vw !Important;
	font-family: Arial !Important;
}
body {
	background-color: #000000;
	background-image: url("splash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px !Important;
	overflow: hidden !Important;
}

div {
	margin: 0 auto 0 auto;
}

#nickname {
	position: fixed;
	top: 50%;
	left: 30%;
	width: 40%;
	display: none;
}

#userList {
	position: fixed;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 50%;
	display: none;
	overflow: scroll;
}

table, td {
	width: 100%;
}

td {
	width: 50%;
	font-size: 4vw !Important;
	border: 1px solid black;
	border-collapse: collapse;
}